.aboutMe{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
    margin: 0px 150px;
}
.aboutMe img{
    height: 200px;
    border-radius: 100px;
    box-shadow: var(--shadow-dark);
    border: none;
    margin: 10px;
}
.myName{
    display: flex;
    justify-content: center;
    align-items: center;
}
.myName .icon{
    height: 35px;
    margin-right: -5px;
    cursor: pointer;
}
.myName .icon:hover{
    opacity: .6;
}
.myName .title{
    margin-bottom: 0px !important;
}

.aboutMe .title{
    font-size: 30px;
    color: var(--main);
    font-weight: 700;
    margin-bottom: 10px;
    border-bottom: 3px solid var(--main);
    cursor: pointer;
}

.aboutMe .desc{
    font-size: 20px;
    font-weight: 400;
}

@media only screen and (max-width: 650px) {
    .aboutMe{
        margin: 0px 50px;
    }    
    .aboutMe img{
        height: 180px;
    }
    .aboutMe .title{
        font-size: 28px;
        margin-top: 15px;
    }
    .myName{
        margin-bottom: 10px;
    }
}

@media only screen and (max-width: 650px) {
    .aboutMe{
        margin: 0 25px;
    }
    .aboutMe .title{
        font-size: 24px;
        margin-top: 15px;
    }
    .aboutMe .icon{
        height: 30px;
        margin-top: 25px;
    }
    .aboutMe .desc{
        font-size: 18px;
    }
}
