.recommanded .cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.recommanded .title{
    font-size: 30px;
    color: var(--main);
    border-bottom: 3px solid var(--main);
    font-weight: 700;
    width: max-content;
    margin: 20px;
}

.topicCard{
    width: 120px;
    background-color: var(--mid);
    border-radius: 20px;
    padding: 20px;
    margin: 20px;
    box-shadow: var(--shadow-dark);
    font-weight: 700;
    text-align: center;
    cursor: pointer;
    font-size: 20px;
}

.topicCard:hover{
    opacity: 0.6;
}

.topicCard .icon{
    height: 48px;
}

@media only screen and (max-width: 650px) {
    .recommanded .title{
        font-size: 24px;
    }
    .topicCard{
        font-size: 16px;
        width: 90px;
    }
    .topicCard .icon{
        height: 45px;
    }
}